@font-face {
	font-family: 'Vetrino';
	src: url('src/fonts/Vetrino/VetrinoRegular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Montserrat';
	src: url('src/fonts/Montserrat/Montserrat-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Montserrat';
	src: url('src/fonts/Montserrat/Montserrat-SemiBold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Montserrat';
	src: url('src/fonts/Montserrat/Montserrat-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Montserrat';
	src: url('src/fonts/Montserrat/Montserrat-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

body,
html {
	overflow-x: hidden;
	font-family: 'Montserrat', sans-serif;
	color: #10343C;
}

header {
	padding-top: 30px;
	background: #FCFAF7;
}

a {
	text-decoration: none;
	color: #10343C;
	transition: all 0.2s;
}

img {
	max-width: 100%;
	height: auto;
}

.list {
	padding-left: 25px;
}

.header_menu {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	column-gap: 30px;
	padding: 0;
	margin: 0;
}

.header_menu-item {
	list-style: none;
}

.header_menu-item a:hover {
	opacity: .6;
}

.header_menu-item a {
	font-size: 20px;
	line-height: 24px;
}

.header-top {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding-top: 15px;
}

.phone {
	font-size: 24px;
	-webkit-transition: all 0.1s;
	-o-transition: all 0.1s;
	-webkit-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}

.phone:hover {
	opacity: .6;
}

.logo:hover {
	opacity: .8;
}

.button-light {
	font-weight: 500;
	padding: 10px 35px;
	font-size: 24px;
	line-height: 2.5;
	border: 1px solid #C0AC8E;
	border-radius: 12px;
	text-align: center;
	-o-transition: 0.1s all;
	-webkit-transition: 0.1s all;
	transition: 0.1s all;
	cursor: pointer;
	white-space: nowrap;
}

.button-light:hover {
	-webkit-box-shadow: 0px 0px 0px 1px rgba(192, 172, 142, 1);
	box-shadow: 0px 0px 0px 1px rgba(192, 172, 142, 1);
}

.button-light:active {
	font-weight: 700;
}

.button-dark {
	padding: 15px 60px;
	font-size: 24px;
	line-height: 29px;
	background: #1C6575;
	color: #fff;
	border-radius: 10px;
	text-align: center;
	-webkit-box-shadow: 0px 0px 0px 1px rgba(192, 172, 142, 0);
	box-shadow: 0px 0px 0px 1px rgba(192, 172, 142, 0);
	-o-transition: 0.1s all;
	-webkit-transition: 0.1s all;
	transition: 0.1s all;
	cursor: pointer;
	white-space: nowrap;
}

.button-dark:hover {
	background: #10343C;
}

.button-dark:active {
	font-weight: 700;
}

.main {
	padding: 100px 0 150px;
	background: #FCFAF7;
}

.title {
	font-family: Vetrino, sans-serif;
	font-size: 76px;
	line-height: 81.78px;
	white-space: nowrap;
	margin-bottom: -100px;
}

.section-title {
	font-family: Vetrino, sans-serif;
	font-size: 32px;
	line-height: 34px;
}

.main_text {
	font-size: 24px;
	line-height: 31.2px;
	padding: 70px 10px 85px 0;
}

.main_exp span:first-child {
	font-weight: 600;
	font-size: 40px;
	line-height: 48.76px;
	color: #1C6575;
}

.main_exp span:last-child {
	font-size: 24px;
	line-height: 29.26px;
	color: #10343C;
	word-spacing: 9999px;
}

.main_exp-wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-column-gap: 100px;
	-moz-column-gap: 100px;
	column-gap: 96px;
	margin-top: 70px;
}

.orientation {
	padding: 100px 0 100px;
}

.orientation .section-title {
	padding-bottom: 50px;
}

.orientation_slider {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-column-gap: 10px;
	-moz-column-gap: 10px;
	column-gap: 10px;
}

.orientation_slider_card {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin: 0 10px;
}

.orientation_slider_card_title {
	font-size: 24px;
	font-weight: 500;
	line-height: 29px;
	letter-spacing: 0em;
	text-align: center;
	color: #10343C;
	padding-top: 25px;
}

.orientation_slider_card_desc {
	color: #10343C;
	padding: 15px 18px 7px 18px;
	text-align: center;
	font-size: 20px;
	line-height: 24px;
	-ms-flex-line-pack: center;
	align-content: center;
}

.orientation_slider_card-content {
	background-color: #FCFAF7;
	border: 1px solid #C0AC8E;
	border-radius: 10px;
	max-width: 90%;
	margin-top: -35px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.slick-initialized .slick-slide {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.slider_arrow {
	padding: 20px;
	width: 20px;
	height: 48px;
	position: absolute;
	top: 45%;
	cursor: pointer;
	-webkit-transition: all 0.1s;
	-o-transition: all 0.1s;
	transition: all 0.1s;
}

.slider_arrow:hover {
	-webkit-filter: sepia(100%);
	filter: sepia(100%);
}

.slider_arrowleft {
	background: url(src/icon/arrowleft.png);
	left: -50px;
	background-repeat: no-repeat;
	background-position: center;
}

.slider_arrowright {
	background: url(src/icon/arrowleft.png);
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
	right: -50px;
	background-repeat: no-repeat;
	background-position: center;
}

.slider_dots {
	position: absolute;
	bottom: -70px;
	display: block;
	width: 100%;
	padding: 0;
	list-style: none;
	text-align: center;
}

.slider_dots li {
	display: inline-block;
	margin: 0 10px;
}

.slider_dots li button {
	border-radius: 8px;
	height: 14px;
	width: 14px;
	color: transparent;
	background: #fff;
	border: 1px solid #C0AC8E;
}

.slider_dots li button:hover {
	background-color: #ECE6DD;
	background-blend-mode: multiply;
}

.slider_dots li.slick-active button {
	background-color: #C0AC8E;
}

.help {
	padding: 40px 0 150px;
}

.help .section-title {
	margin-bottom: 50px;
}

.help_photo-wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.list_help {
	margin-bottom: 30px;
}

.list-item {
	font-size: 24px;
	line-height: 31px;
	padding: 0 0 21px 8px;
}

.list-item::marker {
	content: url(src/icon/marker.png);
}

.qual {
	background: #FCFAF7;
	padding: 150px 0 150px;
}

.qual_slider_card-wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	cursor: pointer;
}

.qual_slider_card-wrapper a {
	position: relative;
}

.qual_slider_card-wrapper a::before {
	content: url(src/icon/expand.svg);
	position: absolute;
	top: 10px;
	right: 10px;
}

.qual_slider_card-wrapper a::before:hover {
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
}

.slick-track {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.format {
	padding: 150px 0;
}

.format .section-title {
	margin-bottom: 55px;
}

.format img {
	border-radius: 15px;
}

.accordion .accordion-item .accordion-button[aria-expanded="false"] {
	border-radius: 15px 15px 15px 15px;
}

.accordion .accordion-item .accordion-button[aria-expanded="true"] {
	border-radius: 15px 15px 0px 0px;
}

.accordion-button,
.accordion-button[aria-expanded="true"],
.accordion-button:focus {
	font-size: 24px;
	line-height: 29px;
	padding: 25px 30px;
	background: #FCFAF7;
	border: 1px solid #C0AC8E;
	color: #10343C;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.accordion-button[aria-expanded="true"] {
	border-bottom: none;
}

.accordion-item {
	background: transparent;
	border: none;
}

.accordion-collapse {
	background: #FCFAF7;
	border: 1px solid #C0AC8E;
}

.accordion-item:last-of-type .accordion-collapse {
	border-top: none;
	border-radius: 0 0 15px 15px;
}

.accordion-wrapper {
	margin-left: -50px;
}

.accordion-body {
	padding: 0 30px 30px 30px;
	min-height: 150px;
}

.accordion-button[aria-expanded="true"]:not(.collapsed)::after {
	-webkit-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	transform: rotate(-90deg);
}

.accordion-button::after {
	-webkit-transition: 0.3s all;
	-o-transition: 0.3s all;
	transition: 0.3s all;
}

.gift_list {
	margin: 65px 0 30px;
}

.gift img {
	margin-top: 30px;
}

.gift {
	padding: 50px 0 150px;
}

.review {
	padding: 100px 0;
	background: #FCFAF7;
}

.review .slick-track {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
}

.review_slider_card {
	padding: 0 10px 10px;
}

.review .section-title {
	margin: 0 0 60px 10px;
}

footer {
	padding: 100px 0;
	background: #E5D4BA;
}

.footer_menu_item {
	list-style: none;
	padding-bottom: 15px;
	font-size: 20px;
	line-height: 24px;
}

.modal-content {
	background: #FCFAF7;
	border-radius: 12px;
	padding: 75px 120px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}

.modal-content button {
	position: absolute;
	top: 25px;
	right: 25px;
	background: url(src/icon/x.svg);
	-webkit-transform: none;
	-ms-transform: none;
	transform: none;
	background-position: center;
}

.modal-content select,
.modal-content input {
	border-radius: 12px;
	border: 1px solid #C0AC8E;
	padding: 7px 20px;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}

.modal-content select:focus,
.modal-content input:focus {
	border: 1px solid #544734;
}

.modal-content input::-webkit-input-placeholder {
	color: #C0AC8E;
	font-size: 18px;
	font-weight: 500;
	margin-left: 5px;
}

.modal-content input::-moz-placeholder {
	color: #C0AC8E;
	font-size: 18px;
	font-weight: 500;
	margin-left: 5px;
}

.modal-content input:-ms-input-placeholder {
	color: #C0AC8E;
	font-size: 18px;
	font-weight: 500;
	margin-left: 5px;
}

.modal-content input::-ms-input-placeholder {
	color: #C0AC8E;
	font-size: 18px;
	font-weight: 500;
	margin-left: 5px;
}

.modal-content input::placeholder {
	color: #C0AC8E;
	font-size: 18px;
	font-weight: 500;
	margin-left: 5px;
}

.modal-content select {
	color: #10343C;
	font-size: 18px;
	font-weight: 500;
}

.fancybox-button--zoom,
.fancybox-button--play,
.fancybox-button--thumbs,
.fancybox-button--zoom {
	display: none;
}

.footer_menu_item,
footer img {
	-webkit-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}

.footer_menu_item:hover,
footer img:hover {
	opacity: .6;
}

.burger-menu-wrapper {
	background: #fefefe;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	position: fixed;
	top: 0px;
	right: -100vw;
	height: 100%;
	width: 100vw;
	padding-top: 30px;
	-webkit-transition: 0.3s all;
	-o-transition: 0.3s all;
	transition: 0.5s all;
}

.burger-display {
	right: 0px;
	display: flex;
}

.burger-menu-wrapper button {
	margin-right: 30px;
}

.burger-menu {
	list-style: none;
}

.burger-menu-item {
	font-size: 20px;
	font-weight: 500;
	margin-bottom: 10px;
}

.burger-button {
	display: none;
	height: 30px;
	width: 30px;
}

.slick-track {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.header-bottom {
	display: flex;
}

.start-test {
	flex-basis: 82%;
	text-align: center;
}

header .worktime {
	flex-basis: 18%;
}

.worktime {
	font-size: 20px;
	line-height: 24px;
}

hr {
	margin: 20px 0;
	color: #C0AC8E;
	opacity: 1;
}

header .button-light {
	padding: 15px 40px;
}

.main__photo {
	transform: rotate(12.5deg);
	border-radius: 100px;
	margin-right: 33px;
}

.main__photo-wrapper {
	margin-top: 70px;
	position: relative;
	display: flex;
	justify-content: flex-end;
}

.main__photo-wrapper::before {
	content: url(src/images/main__photo-wrapper.png);
	position: absolute;
	left: 0;
	top: 12px;
}

